In [48]:
#importing dependices
import numpy
import pandas as pd

In [38]:
#using pandas to read the database stored in same folder
data = pd.read_csv('marscrater_pds.csv',low_memory = False)
print(len(data))             # Number of observations (rows)
print(len(data.columns))     # Number of variables (columns)

384343
10

In [39]:
#Upper case all DataFrame column names
data.columns = map(str.upper,data.columns)

In [40]:
#Bug fix for display formats to avoid run time errors
pd.set_option('display.float_format', lambda x:'%f'%x)

In [41]:
#previewing the data
data

,CRATER_ID,CRATER_NAME,LATITUDE_CIRCLE_IMAGE,LONGITUDE_CIRCLE_IMAGE,DIAM_CIRCLE_IMAGE,DEPTH_RIMFLOOR_TOPOG,MORPHOLOGY_EJECTA_1,MORPHOLOGY_EJECTA_2,MORPHOLOGY_EJECTA_3,NUMBER_LAYERS
0,01-000000,,84.367000,108.746000,82.100000,0.220000,,,,0
1,01-000001,Korolev,72.760000,164.464000,82.020000,1.970000,Rd/MLERS,HuBL,,3
2,01-000002,,69.244000,-27.240000,79.630000,0.090000,,,,0
3,01-000003,,70.107000,160.575000,74.810000,0.130000,,,,0
4,01-000004,,77.996000,95.617000,73.530000,0.110000,,,,0
...,...,...,...,...,...,...,...,...,...,...
384338,30-013686,,-67.138000,166.562000,1.000000,0.000000,,,,0
384339,30-013687,,-73.986000,39.069000,1.000000,0.000000,,,,0
384340,30-013688,,-76.934000,5.923000,1.000000,0.000000,,,,0
384341,30-013689,,-79.415000,63.528000,1.000000,0.000000,,,,0
384342,30-013690,,-79.664000,0.991000,1.000000,0.000000,,,,0

In [42]:
#Type of each column
data.dtypes

CRATER_ID                  object
CRATER_NAME                object
LATITUDE_CIRCLE_IMAGE     float64
LONGITUDE_CIRCLE_IMAGE    float64
DIAM_CIRCLE_IMAGE         float64
DEPTH_RIMFLOOR_TOPOG      float64
MORPHOLOGY_EJECTA_1        object
MORPHOLOGY_EJECTA_2        object
MORPHOLOGY_EJECTA_3        object
NUMBER_LAYERS               int64
dtype: object

In [43]:
#describing core statistics for numeric columns only
data.describe()

,LATITUDE_CIRCLE_IMAGE,LONGITUDE_CIRCLE_IMAGE,DIAM_CIRCLE_IMAGE,DEPTH_RIMFLOOR_TOPOG,NUMBER_LAYERS
count,384343.000000,384343.000000,384343.000000,384343.000000,384343.000000
mean,-7.199209,10.128021,3.556686,0.075838,0.064835
std,33.608966,96.641592,8.591993,0.221518,0.304889
min,-86.700000,-179.997000,1.000000,-0.420000,0.000000
25%,-30.935000,-58.829000,1.180000,0.000000,0.000000
50%,-10.079000,12.740000,1.530000,0.000000,0.000000
75%,17.222500,89.275500,2.550000,0.000000,0.000000
max,85.702000,179.997000,1164.220000,4.950000,5.000000

In [44]:
#viewing column heads
data.head()

,CRATER_ID,CRATER_NAME,LATITUDE_CIRCLE_IMAGE,LONGITUDE_CIRCLE_IMAGE,DIAM_CIRCLE_IMAGE,DEPTH_RIMFLOOR_TOPOG,MORPHOLOGY_EJECTA_1,MORPHOLOGY_EJECTA_2,MORPHOLOGY_EJECTA_3,NUMBER_LAYERS
0,01-000000,,84.367000,108.746000,82.100000,0.220000,,,,0
1,01-000001,Korolev,72.760000,164.464000,82.020000,1.970000,Rd/MLERS,HuBL,,3
2,01-000002,,69.244000,-27.240000,79.630000,0.090000,,,,0
3,01-000003,,70.107000,160.575000,74.810000,0.130000,,,,0
4,01-000004,,77.996000,95.617000,73.530000,0.110000,,,,0

In [45]:
# freqeuncy disributions using the 'groupby' function
print("Counts for \"NUMBER_LAYERS\" variable...")
nl = data.groupby("NUMBER_LAYERS").size()                       #counts
print(nl)
print('\n')
print("Percentages for \"NUMBER_LAYERS\" variable...")
nlp = data.groupby("NUMBER_LAYERS").size() * 100 / len(data)   #precentages
print(nlp)

Counts for "NUMBER_LAYERS" variable...
NUMBER_LAYERS
0    364612
1     15467
2      3435
3       739
4        85
5         5
dtype: int64


Percentages for "NUMBER_LAYERS" variable...
NUMBER_LAYERS
0   94.866304
1    4.024270
2    0.893733
3    0.192276
4    0.022116
5    0.001301
dtype: float64

In [46]:
# using value counts function to generate frequency distributions for depth of craters variable
print("Counts for \"DEPTH_RIMFLOOR_TOPOG\" variable...")
drt = data["DEPTH_RIMFLOOR_TOPOG"].value_counts(sort = False)                       #counts
print(drt)
print('\n')
print("Percentage for \"DEPTH_RIMFLOOR_TOPOG\" variable...")
drtp = data["DEPTH_RIMFLOOR_TOPOG"].value_counts(sort = False, normalize = True)    #percentages
print(drtp)

Counts for "DEPTH_RIMFLOOR_TOPOG" variable...
0.000000    307529
2.000000        14
0.220000      1189
0.190000      1363
0.430000       684
             ...
0.780000       302
0.620000       446
0.160000      1541
1.570000        44
1.140000        99
Name: DEPTH_RIMFLOOR_TOPOG, Length: 296, dtype: int64


Percentage for "DEPTH_RIMFLOOR_TOPOG" variable...
0.000000   0.800142
2.000000   0.000036
0.220000   0.003094
0.190000   0.003546
0.430000   0.001780
             ...
0.780000   0.000786
0.620000   0.001160
0.160000   0.004009
1.570000   0.000114
1.140000   0.000258
Name: DEPTH_RIMFLOOR_TOPOG, Length: 296, dtype: float64

In [47]:
# using value counts function to generate frequency distributions
print("Counts for \"DIAM_CIRCLE_IMAGE\" variable...")
dci = data["DIAM_CIRCLE_IMAGE"].value_counts(sort = False)                      #counts
print(dci)
print('\n')
print("Percentages for \"DIAM_CIRCLE_IMAGE\" variable...")
dcip = data["DIAM_CIRCLE_IMAGE"].value_counts(sort = False,normalize = True)    #precentages
print(dcip)

Counts for "DIAM_CIRCLE_IMAGE" variable...
8.000000       46
2.000000      915
14.080000      17
24.430000       6
3.040000      284
             ...
27.820000       5
291.590000      1
31.960000       1
31.600000       5
23.810000       5
Name: DIAM_CIRCLE_IMAGE, Length: 6240, dtype: int64


Percentages for "DIAM_CIRCLE_IMAGE" variable...
8.000000     0.000120
2.000000     0.002381
14.080000    0.000044
24.430000    0.000016
3.040000     0.000739
               ...
27.820000    0.000013
291.590000   0.000003
31.960000    0.000003
31.600000    0.000013
23.810000    0.000013
Name: DIAM_CIRCLE_IMAGE, Length: 6240, dtype: float64